.articaleLink{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--color-light);
    display: flex ;
    justify-content: center;
    align-items: center;
   
}
.articaleLinkContainer{
    position: fixed;
    inset-inline: 0px;
    display: flex;
    justify-content: end;
    inset-block-end: 40px;
     z-index: 9999;
     pointer-events: auto !important;
}
.createArticaleSwiperBox{
    width: 60%;
}
.addCatCard{
    padding: 10px 30px;
    background-color: var( --color-light);
    border-radius:40px;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}
.createCheake{
    width: fit-content;
}
.galleryImgs{
    max-height: 200px;
    max-width: 400px;
    object-fit: cover;
}
.galleryImgBox{
    border-radius: 12px;
    overflow: hidden;
 

}
.removeButtonGallery{
    position: absolute;
    inset-inline-end: 10px;
    inset-block-start: 10px;
    background-color: color-mix(in srgb, var(--color-white) 40%, var(--color-white) 10%) ;
    padding: 4px 6px;
    display: flex ;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 10;
    font-size: 9px;
}
.lightboxOverlay {
  position: fixed;
  inset: 0;
  background: rgba(51, 44, 55, 0.95);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightboxSwiper {
  width: 90%;
  height: 90%;
}

.lightboxImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lightboxClose {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10000;
}