.articaleLink{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--color-light);
    display: flex ;
    justify-content: center;
    align-items: center;
   
}
.articaleLinkContainer{
    position: fixed;
    inset-inline: 0px;
    display: flex;
    justify-content: end;
    inset-block-end: 40px;
     z-index: 9999;
     pointer-events: auto !important;
}
.createArticaleSwiperBox{
    width: 60%;
}
.addCatCard{
    padding: 10px 30px;
    background-color: var( --color-light);
    border-radius:40px;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}