.articaleLink{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-light);
}
.articaleLinkContainer{
    position: fixed;
    inset-inline: 0px;
    display: flex;
    justify-content: end;
   
    inset-block-end: 40px;
}