.exploreHero {
  background-color: var(--color-foundation8b);
}
.filterRadio {
  width: 15px;
  height: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: solid 1px var(--color-black);
}
.activeRadio.filterRadio {
  background-color: var(--color-main);
}
.exploreCard {
  gap: var(--space-sm);
  background-color: var(--color-white);
  border: solid var(--color-main);
  /* color: var(--color-white); */
  border-radius: var(--radius-md);
  height: calc(100% - var(--space-md));
  margin-bottom: var(--space-md);
  overflow: hidden;
  position: relative;
  min-height: 350px;
}
.exploreCard img {
  height: 60%;
  object-fit: cover;
}
.exploreCardBottom {
  padding: var(--space-sm);
}
.galleryLoadingScreen {
  min-height: 100vh;
}
.galleryLoadingScreen .loadingCircle {
  max-width: 50px;
  max-height: 50px;
}
.exploreCardImg {
  height: 100%;
}
.explreCardLink {
  position: absolute;
  inset: 0;
  z-index: 90;
}
.explreCardLink a {
  display: block;
  height: 100%;
  width: 100%;
}

/* articale */
.articaleHeroImgBox {
  position: sticky;
  height: fit-content;
  top: 120px;
}
.articaleHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.articaleProfileImg{
    border-radius: 50%;
    
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
