@media screen and (max-width:1400px){
    .DisplayMid{
        font-size: 40px;
   } 
}
@media screen and (max-width:1200px){
   .DisplayMid{

   } 
}
@media screen and (max-width:992px){

}
@media screen and (max-width:786px){
    .catCardBox{
        padding: 0;
    }
}
