@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --color-main: #6341af;
  --color-black: #242424;
  --color-foundation8b: #8b5cf6;

  --color-transparent: #363b4766;
  --color-funcation-main: #7e54e0;
  --color-fundation: #f3effe;
  --color-secondary: #fef3c7;
  --color-secondary-Dark: #e7ddb5;
  --color-white: #ffffff;
  --color-gray700: #4e5566;
  --color-gray500: #8c94a3;
  --color-gray100:#E9EAF0;
  --color-gray: #d9d9d9;
  --color-green: #e1f7e3;

  --space-sm: 15px;
  --space-md: 30px;
  --space-lg: 60px;
  --space-xl: 90px;

  --radius-md: 14px;
  --radius-lg: 31px;
}

/* color  */
.textPurple{
  color: var(--color-foundation8b);
}
.textGray {
  color: var(--color-gray700);
}
.textBlack {
  color: var(--color-black);
}
.textGray500 {
  color: var(--color-gray500);
}
.textGray700 {
  color: var(--color-gray700);
}
.textWhite {
  color: var(--color-white);
}

/* text style */
p,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.heading02 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1%;
  text-align: center;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 57px;
  line-height: 140%;
  letter-spacing: 0%;
}
.headlineLargmid {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0%;
}
.headlineMid {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: Medium;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
}
.titleMid {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
}
.titleLargMid {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0%;
}
.headlineSmall {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: Medium;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
}
.bodyText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}
.BodyMedium400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1%;
  text-align: justify;
}
.bodyTiny400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: justify;
}
.DisplayMid {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 45px;
  line-height: 140%;
  letter-spacing: 0%;
}
.labalLarge {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: justify;
  text-transform: uppercase;
}
.labalSmall {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
/* button style */
button {
  background-color: transparent;
  border: none;
}
.transperentBtn {
  border: solid 1px;
  border-color: var(--color-white);
  border-radius: var(--radius-md);
  padding: var(--space-sm) var(--space-md);
}
.secondaryBtn {
  background-color: var(--color-secondary);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
}
.mainBtn {
  background-color: var(--color-main);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
}

/* general styleing */
img {
  max-width: 100%;
}
ul,
li {
  all: unset;
}
a {
  color: white;
  text-decoration: none;
}
input:focus {
  outline: none;
  box-shadow: none !important;
  border: solid 1px var(--color-funcation-main);
}
.line{
  height: 2px;
  background-color: var(--color-gray100);
}
.purpleLink {
  color: var(--color-main);
}
.bgBage {
  background-color: var(--color-secondary);
}
.bgPink {
  background-color: var(--color-fundation);
}
select {
  all: unset;
}
.btn,
.btn.show,
.btn:hover,
.btn:first-child:active {
  background-color: transparent;
  border: none;
}
.dropdown-toggle::after {
  content: none;
}
input {
  border: none;
}
/* .dropDownTitle::before {
  content: " ";
  width: 8px;
  height: 8px;
  border: solid 1px;
  border-width: 0 1.5px 1.5px 0px;
  transform: rotate(45deg);
  border-color: var(--color-white);
} */

/* navBar  */
nav {
  background-color: var(--color-main);
  padding: var(--space-md);
  overflow: hidden;
}
.sideBar {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.backfure {
  position: absolute;
  inset-inline-end: -30px;
  inset-block-start: 300px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}
.backfure.show {
  opacity: 0.6;
}

/* navBar list */
.navList {
  gap: var(--space-md);
}

.divider {
  height: 4px;
  background-color: var(--color-gray);
}

/* categories section */
.catCard {
  padding: var(--space-lg) var(--space-md);
  margin-bottom: var(--space-md);
  border-radius: var(--radius-md);
}
.catCardTop {
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  padding: var(--space-md);
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px -4px 0px 0px #00000040;
}
.catCardBox {
  padding-top: 180px;
}

/* download the app link */
.downloadLink {
  /* background-color: var(--color-white); */
  border-radius: var(--radius-md);
  width: fit-content;
  border: solid 1px var(--color-white);
  padding: var(--space-sm);
}

/* footer */
.footerBox {
  background-color: var(--color-main);
}
.socialLinkBox {
  background-color: var(--color-transparent);
  padding: var(--space-sm);
  width: fit-content;
}
.socialLinkBox.glow {
  background-color: var(--color-secondary);
  box-shadow: 0px 6px 20px 0px rgba(204, 82, 43, 0.5);
}
.footerBottom {
  background-color: var(--color-secondary);
}

/* job component */
.jobCardBox {
  border-radius: var(--radius-lg);
  overflow: hidden;
  background-color: var(--color-white);
  margin-bottom: var(--space-md);
}
.jobCardBox img {
  max-width: 286px;
  width: 35%;
  object-fit: cover;
}
.ourPartnerTop {
  padding-block-start: var(--space-lg);
}
.absButtonBox {
  position: absolute;
  inset-block-end: -10px;
}
.absButtonBox a {
  background-color: var(--color-secondary-Dark);
  border-radius: var(--radius-lg);
}
.logBtn {
  background-color: var(--color-foundation8b);
  padding: var(--space-sm) var(--space-md);
  color: var(--color-white);
  gap: 6px;
}
/* loadding */
.loadingCircle{
  height: 50%;
  aspect-ratio: 1/1;
  border: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: var(--color-white);
  border-right-color: transparent;
  animation: spin 0.9s ease-in-out infinite;
  position: absolute;
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.warningMessage{
  border: solid 1px rgb(253, 61, 61);
  background-color: rgb(255, 211, 211);
  color: rgb(253, 61, 61);
  padding: 20px;
  border-radius: 12px;
}
.box404{
  padding-block: 25vh;
}