.storyBox{
    padding:  var(--space-xl) 0;

}
.expandingBall{
    background-color: var(--color-funcation-main);
    padding: var(--space-md);
    border-radius: var(--radius-md);
}
.expandingBall a{
    background-color: var( --color-white);
    color: black;   
    padding: var(--space-sm);
    width: 100%;
    border-radius: var(--radius-md);
}